importFrom(Hmisc, yearDays)
importFrom(raster, rotate, brick, extract)
importFrom(reshape2, melt)
importFrom(stringr, str_pad)
importFrom(sp, SpatialPoints, CRS)
importFrom(utils, head, tail)
importFrom(zoo, coredata, index, na.approx)
importFrom(xts, xts)

export(windSpeed)
export(windDirection)
export(pointInspection)
export(fillMissingValues)
export(getSeason)
